__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
env/
venv/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.DS_Store
.idea/
.vscode/
*.log
meshtastic_messages.txt

